@page
@model Lingkail.VMS.Auth.Web.Pages.ForgotPasswordModel


<link href="~/css/ForgotPass.css" rel="stylesheet" />

<head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            /* The image used */
            background-image: url("../vms-Icon/Background.jpg");
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow-y: auto;
            overflow-x: auto;
        }
    </style>
</head>

<body>
    <div class="box">
        <div style="margin-left:180px;">
            <h4>Enter your email.</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div style="margin-left:70px;">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
