<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/senaicon.ico" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        div.myAlertStyle {
            padding: 50px;
            background-color: #f44336;
            color: white;
            margin: auto;
            font-size: 35px;
            position: fixed;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            z-index: 1;
        }
        div.bodyStyle {
            @*filter: grayscale(100%);*@
            opacity: 0.5;
        }
    </style>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
</head>

<body>
    <div id="myAlert" class="myAlert"></div>
    <div id="BodyToRender">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!---->
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script>
        //Open connection to a signalR Hub
        var thisHubEndpoint = "broadcastHub";
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/" + thisHubEndpoint).build(); //URL defined in startup

        connection.start().then(function () {
            console.log("Connection to (" + thisHubEndpoint + ") - OK");

        }).catch(function (err) {
            console.log("Connection to (" + thisHubEndpoint + ") - NOT OK");
        });

        //Call JS client methods from hub
        connection.on("WindowAlert", function (boardId, boardName) {

            var myAlertDiv = document.getElementById("myAlert");
            myAlertDiv.className = "myAlertStyle";

            var redirectLink = '../EditorV2?id=' + boardId + '&HasAlertKey=true&handler=SingleId';

            //Trigger custom alert and window alert
            myAlertDiv.innerHTML = "Alert! Incoming Incident! Board: " + boardName
                + ". Click <a href='" + redirectLink + "' target='_blank'>HERE</a> to redirect (new tab).";
            window.alert("Alert! Incoming Incident! Board: " + boardName);

            //Blur background (body)
            document.getElementById("BodyToRender").className = "bodyStyle";
        });
    </script> <!--SignalR-->
</body>
</html>








