@{
    Layout = "Shared/_MasterLayout";
}

<style>
    body {
        color: white;
        background-color: black;
        @*color: white;
        background-image: url(../dashboard.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;*@
    }
</style>

<div>
    @RenderBody()
</div>

@RenderSection("Hub_Scripts", required: false)
