@{
    Layout = "Shared/_TopNavLayout";
}

<style>
    body {
        background-image: url(../GMbg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div>
    @RenderBody()
</div>

